<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reviews
    </ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let i of tmpobj">
    <ion-card-header>
      <img src="{{i.img}}" [routerLink]="['/comment']">
      <ion-card-subtitle>
        <label>{{i.rating}}</label>
        <br>
        <label>{{i.genre}}</label>
      </ion-card-subtitle>
      <!--ion-card-subtitle>{{i.genre}}</-ion-card-subtitle-->
      <ion-card-title >{{i.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{i.detail}}
    </ion-card-content>
  </ion-card>


</ion-content>
