<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-card *ngFor="let i of ListMov">
    <ion-card-header>
      <img src="{{i.img}}" [routerLink]="['/test',i]" >
      <!--ion-card-subtitle>{{i.pop}}</!--ion-card-subtitle>
      <ion-card-subtitle>{{i.re}}</ion-card-subtitle -->
      <p>
      <ion-card-subtitle>{{i.name}}</ion-card-subtitle >
    </ion-card-header>

    <ion-card-content>
      <!--{{i.cap}}-->
    </ion-card-content>
  </ion-card>

</ion-content>
