<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comment
    </ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Your Comment</ion-label>
        <section>
          <ion-textarea></ion-textarea>
          <ion-button size="small" slot="end">Sent</ion-button>
        </section>

      </ion-item>
    </ion-card-content>


